.contenedor_compromiso {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
}

.compromiso_titulo {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.compromiso_titulo h3 {
  font-size: clamp(1.875rem, 8vw, 30px); /* Ajuste para pantallas pequeñas */
  font-weight: 300;
  letter-spacing: 5px;
}

.compromiso_titulo p {
  color: rgb(232, 232, 232);
  font-size: clamp(1.125rem, 6vw, 18px); /* Ajuste para pantallas pequeñas */
  font-weight: 300;
  letter-spacing: 3px;
}

.compromiso_bloques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.compromiso_bloques_card {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%; /* Ajuste para que ocupe el ancho disponible */
  max-width: 460px; /* Máximo ancho permitido */
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.compromiso_bloques_card > img {
  opacity: 0.7;
  max-width: 100%;
  max-height: 100%;
  width: 427px;
  height: 285px;
  margin-bottom: 20px;
}

.compromiso_bloques_card > h5 {
  margin-bottom: 20px;
  font-size: clamp(1.25rem, 5vw, 20px); /* Ajuste para pantallas pequeñas */
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
}

.compromiso_bloques_card > p {
  font-size: clamp(0.875rem, 4vw, 14px); /* Ajuste para pantallas pequeñas */
  line-height: 25px;
  font-weight: 300;
}
