.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}

.contenedor_formulario {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 1000px;
  height: 450px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.contenedor_formulario_register {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 1100px;
  height: 550px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.imagen {
  width: 100%;
  height: 100%;
}

.imagen > img {
  display: block;
  width: 100%;
  height: 100%;
}

.inputs {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.inputs > svg {
  margin-left: 5px;
}

.inputs > input {
  border: none;
}

.inputs > input:focus {
  box-shadow: none;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 5px;
  padding: 2rem;
}

.form h1 {
  text-align: center;
  color: black;
}

.form button {
  margin-top: 1rem;
}

.form span {
  margin-top: 10px;
}
