div.contenedorPrincipal {
  padding: 0;
  margin: 0;
}

div.historia {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem; /* Agrega un margen inferior */
  padding: 1rem;
  height: auto; /* Ajusta la altura automáticamente */
}

div.historia h3 {
  color: rgb(103, 103, 112);
}

div.historia p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

div.enfoque {
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
  padding: 2rem;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

div.enfoque .contenedorEnfoques {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contenedorEnfoques {
  width: 100%;
}

.card {
  box-sizing: content-box;
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.appear {
  opacity: 1;
  transform: translateX(0);
}

.card > img {
  max-width: 100%;
  width: 350px;
  height: 350px;
  max-height: 100%;
  border-radius: 5px;
}

.card h5 {
  text-transform: uppercase;
  font-size: clamp(1.2rem, 5vw, 18px);
  margin-top: 1.5rem;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
}
.card p {
  font-size: clamp(0.875rem, 4vw, 14px); /* Ajuste para pantallas pequeñas */
  line-height: 25px;
  font-weight: 300;
}

.nuestroViaje {
  padding: 2rem;
  text-align: center;
}

.nuestroViaje h3 {
  margin-bottom: 10px;
}

.nuestroViaje p {
  font-size: 18px;
  font-weight: 300;
}
