.contenedor_blog {
  padding: 0;
  height: 90vh;
  position: relative;
}

.contenedor_todosPosts {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  height: 100%;
  padding: 2rem 2rem;
  overflow: scroll;
}

.contenedor_todosPosts::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  background-color: #212121;
}

.btn_abrirSidebar {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
