.contenedor_consultas {
  padding: 0;
  height: 90vh;
  position: relative;
}

.main {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

.btn_abrirSidebar {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
