.contenedor {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form {
  width: 800px;
  max-width: 100%;
}

.btn_contactoform {
  margin-top: 10px;
}
