.contenedorForm {
  display: flex;
  height: 100%;
  padding: 3rem 1rem;
  justify-content: center;
}

.form {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem;
  width: 700px;
  color: white;
  border: 2px solid white;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form > div > label {
  color: white !important;
}

.form > h2 {
  text-transform: uppercase;
  font-size: clamp(1.2rem, 5vw, 24px);
  font-weight: 500;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form > button {
  display: block;
  margin-top: 1rem;
}
