@keyframes aparecerDesdeAbajo {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

div.header {
  color: white;
  display: flex;
  flex-flow: column;
  height: 450px;
  max-height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.header h1 {
  text-transform: uppercase;
  font-size: clamp(28px, 5vw, 62px);
  animation: aparecerDesdeAbajo 1s ease forwards;
}

div.header p {
  font-size: clamp(14px, 2vw, 18px);
  color: rgba(255, 255, 255, 0.651);
  animation: aparecerDesdeAbajo 1s ease forwards;
  margin-top: 1rem;
  width: 1000px;
  max-width: 100%;
}

div.header.sobreNosotros::before {
  content: "";
  background-image: url("../assets/img/img_sobreNosotrosHeader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div.header.contacto::before {
  content: "";
  background-image: url("../assets/img/img_contacto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
