.contenedor {
  position: relative;
  width: 100%;
  height: 35em;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_video {
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  object-fit: cover;
}

@keyframes aparecerDesdeAbajo {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.contenedor_titulo {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: aparecerDesdeAbajo 1s ease forwards;
}

.contenedor_titulo h1 {
  font-size: clamp(28px, 5vw, 62px);
  color: white;
}

.contenedor_titulo h3 {
  font-size: clamp(18px, 2.5vw, 28px);
  color: rgba(255, 255, 255, 0.651);
}

.botones_header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.botones_header button[class="btn btn-primary"] {
  padding: 0.5rem 2rem;
  height: 38px;
}

.botones_header .ver_mas:hover {
  color: black;
}

.botones_header .ver_mas {
  padding: 0.5rem 2.5rem;
  height: 38px;
  text-wrap: nowrap;
}
