nav {
  background-color: rgba(0, 0, 0, 0.932);
  font-size: 1.1rem;
}

.logo {
  transition: all 0.3s;
}

.logo:hover {
  opacity: 0.5;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: darkgray !important;
}

.nav-link:focus {
  color: #0082f3 !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
