.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px; /* Ajusta el tamaño del botón */
  height: 50px; /* Ajusta el tamaño del botón */
  background-color: #333; /* Ajusta el color de fondo del botón */
  color: #fff; /* Ajusta el color del ícono o texto */
  border-radius: 50%;
}

.scroll-to-top i {
  font-size: 24px;
}

.scroll-to-top.visible {
  display: flex;
}
